<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Kansas City Elixir Usergroup - KCElixir.com"/>
    <meta name="keywords" content="KC,Elixir,Erlang,Usergroup"/>
    <title>KC Elixir - Kansas City Elixir Usergroup - KCElixir.com</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><a class="button button-small" href="https://www.meetup.com/KC-Elixir-Users-Group/?action=join">Join Us</a></li>
          </ul>
        </nav>
        <a href="https://kcelixir.com" class="phx-logo">
          KC Elixir
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
